/* Lettertypes */

@font-face {
    font-family: 'Nexa Bold';
    src: url('font/NexaBold.eot');
    src: url('font/NexaBold.eot?#iefix') format('embedded-opentype'), url('font/NexaBold.woff') format('woff'), url('font/NexaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
    src: url('font/NexaLight.eot');
    src: url('font/NexaLight.eot?#iefix') format('embedded-opentype'), url('font/NexaLight.woff') format('woff'), url('font/NexaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/*algemeen*/

body {
    background: #fff;
    box-sizing: border-box;
}


/*onderste sectie*/

main h1 {
    font-size: 1.7em;
    font-family: 'Nexa bold';
    text-align: center;
    color: #02d66c;
    opacity: 0.7;
    background: #f3e5d9;
    padding: 1em;
    border-radius: 0.625em;
}

main p {
    font-family: 'Nexa bold';
    text-align: center;
    color: #02d66c;
    opacity: 0.7;
    border-radius: 0.625em;
}

div {
    display: flex;
    justify-content: center;
}

div img:nth-child(1) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 2em;
    width: 2em;
    margin: 0;
    padding: 0;
}

div img:nth-child(2) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 2em;
    width: 2em;
    margin: 0;
    padding: 0;
}

section:nth-of-type(2) {
    background: #f3e5d9;
    border-radius: 0.625em;
}

section img:active {
    transform: scale(1.2);
}

div img:nth-child(1):hover {
    transform: scale(1.3);
}

div img:nth-child(2):hover {
    transform: scale(1.3);
}

div {
    display: flex;
    justify-content: center;
}


/*header*/

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: space-around;
}

li img {
    height: 2em;
}

section:first-child {
    margin-top: 2.1em;
}


/*Media queries*/

@media (max-width: 30em) {
    section {
        background-image: url(images/mobielgespo.png);
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 380vh;
        width: 100%;
        padding: 0;
    }
    section:nth-of-type(2) {
        min-height: 20vh;
    }
    section:nth-of-type(1):hover {
        transform: rotate(360deg);
        transition: 3s;
    }
}

@media (min-width: 30em) {
    section {
        background-image: url(images/irritant.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 130vh;
        min-width: 100%;
    }
    section:nth-of-type(2) {
        max-height: 10em;
    }
    section:nth-of-type(1):hover {
        transform: rotate(360deg);
        transition: 3s;
    }
}

@media (min-width: 43em) {
    section {
        background-image: url(images/irritant.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 140vh;
        min-width: 100%;
    }
    section:nth-of-type(2) {
        max-height: 10em;
    }
    section:nth-of-type(1):hover {
        transform: rotate(360deg);
        transition: 3s;
    }
}


/*javascript*/

.likes img:nth-of-type(3) {
    margin-left: 0.2em;
    position: absolute;
    height: 2.3em;
    display: none;
}

.weg {
    display: none;
}
